body {
  margin: 40px;
  background-color: /*#570a57 #800080*/ #7c147c;
  color: plum;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* or Verdana */
  font-size: 15px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.action {
  color: #b98f00;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
